<!DOCTYPE html>
<html lang="en">
<head>
  <!-- API tocken: 882cb033eadce5ff4a4b8aa2b509ea29e1b909b7 -->
  <title>Roshan Salian</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <script src="scripts/script.js"></script>

<!--
  <ttext> for all text
  <firster> for all header -->
</head>
<body>

  <!-- Navbar -->
  <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container"><!-- Was fluid before -->

      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand effect-shine" href="#">RoshanS</a>
    </div>
    <!-- Above for collapse -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right topBottom">
        <li><a class="link" href="#sec1">Home</a></li>
        <li><a class="link" href="#sec2">About</a></li>
        <li><a class="link" href="#sec3">Education</a></li>
        <li><a class="link" href="#sec4">Projects</a></li>
        <li><a class="link" href="#sec5">Skills</a></li>
        <li><a class="link" href="#sec6">Contact</a></li>
      </ul>
    </div>
  </div>
  </nav>



  <div class="section1" id="sec1">
    <!-- <img src="venice.jpg" data-speed="1" class="Avatar"> -->
    <!-- Fit here -->
    <div class="Avatar">
    <h1>
      <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Roshan Salian.", "Welcome to my canvas.",
       "Post Graduate student @ NITK" ]'>
        <span class="wrap"></span>
      </a>
    </h1>
  </div>


  </div>

  <div class="blank_space"></div>
  <div class="section2" id="sec2">
    <div class="firster">About</div><div class="sml1"></div>
    <div class="text1">
    <p><img src="file:///home/roshan/Desktop/Web/images/download.png">
      Self-motivated and highly reliable university student positioned to contribute strongly to customer service operations demanding tact, enthusiasm, and an exemplary work ethic.</br>
      Born in Karnataka and did schooling in Mumbai. Presently pursuing M.Tech in CSE at NITK.
      <br>
      In this exercise, the idea is to write a paragraph<br> that would be a random passage from a story. An effective paragraph is one that has unity (it isn't a hodgepodge of things),<br> focus (everything in the paragraph stacks up to the whatever-it-is the paragraph is about), and coherence (the content follows smoothly)
      </div>


      <!-- start  -->

      <div class="btwrap">
        <a href="https://www.facebook.com/profile.php?id=100010965852990" class="fa fa-facebook" target="_blank"></a>
        <a href="https://twitter.com/roshansalian97" class="fa fa-twitter" target="_blank"></a>
        <a href="https://www.linkedin.com/in/roshan-salian-441005128/" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://www.instagram.com/bluebear1997/" class="fa fa-instagram" target="_blank"></a>
        <a href="https://github.com/RoshanSalian" class="fa fa-github" target="_blank"></a>
      </div>

      <br><br>
      <!-- end -->

        <div class="btwrap">
          <a href="CV.pdf"  download target="_blank" class="resa"><button class="btn">Resume</button></a>
        </div>

  </div>

  <div class="section3" id="sec3">
    <div class="seconder">Education</div><div class="sml2"></div>
    <div class="text_edu">
      <!-- Timeline -->
      <div class="main-container">
      <section id="timeline" class="timeline-outer">
        <div class="container" id="content">
          <div class="row">
            <div class="col s12 m12 l12">
              <ul class="timeline">
                <li class="event" data-date="2019/Present">
                  <h3>Post Graduation</h3>
                  <p>
                    Presently pursuing M.Tech in Computer Science from NITK.
                  </p>
                </li>
                <li class="event" data-date="2015/2019">
                  <h3>Graduation</h3>
                  <p>
                    Completed Bachelors in Computer Engineering from Mumbai Univeristy.
                  </p>
                </li>
                <li class="event" data-date="2013/2015">
                  <h3>High School</h3>
                  <p>
                    Completed HSC from Maharashtra State Board with minor in Electronics
                  </p>
                </li>
                <li class="event" data-date="2003/2013">
                  <h3>Secondary School</h3>
                  <p>
                    Completed SSC from Maharashtra State Board.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
      <!-- Timeline -->

    </div>
  </div>

  <div class="section2" id="sec4">
    <div class="firster">Projects</div><div class="sml1"></div>

    <div class="phead">Driver Distraction Detection</div>
    <div class="ptail">System continuously monitors the vehicle driver for any for of inattentiveness and raises alarm when any signs are
detected. Uses camera mounted near the rear view mirror of the car to capture driver's face. Each frame is analyzed for distarction
like fatigue and taking eyes off road. If driver is in distarcted state an alarm is generated.</div>

    <div class="phead">Food Divert</div>
    <div class="ptail">Android application to connect places where food is produced in abundance(social gathering) and places where
people face shortage of food(orphanages). The application was developed in Android Studio and used firebase for database.</div>

  </div>


    <div class="section3" id="sec5">
      <div class="seconder">Skills</div><div class="sml2"></div>

    <div class="graphs">

      <h3 style="text-align:center;">Programming Languages</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
        aria-valuemin="0" aria-valuemax="100" style="width:70%"><a style="color:black;">C/C++</a></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
        aria-valuemin="0" aria-valuemax="100" style="width:40%"><a style="color:black;">Java</a></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
        aria-valuemin="0" aria-valuemax="100" style="width:60%"><a style="color:black;">Python</a></div>
      </div>

      <div class="seprator"></div>

      <h3 style="text-align:center;">Platforms</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
        aria-valuemin="0" aria-valuemax="100" style="width:70%"><a style="color:black;">Windows</a></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
        aria-valuemin="0" aria-valuemax="100" style="width:90%"><a style="color:black;">Linux</a></div>
      </div>
    </div>

    </div>

    <div class="section2 contac" id="sec6">
      <div class="firster">Contact</div><div class="sml1"></div>
      <div class="item">
        <i class="material-icons fa fa-map-marker " style="font-size:96px;"></i>
        <p class="ico_font">120, PG block,NITK</p>
      </div>

      <div class="item">
        <i class="material-icons fa fa-envelope" style="font-size:96px;"></i></br>
        <p class="ico_font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;roshansaliannitk[at]gmail[dot]com</p>
      </div>

    </div>


</body>
</html>
